<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Before street</th>
      <th>Before city</th>
      <th>Before state</th>
      <th>Before zip</th>
      <th>Before type</th>
      <th>After street</th>
      <th>After city</th>
      <th>After state</th>
      <th>After zip</th>
      <th>After type</th>
      <th>Location prompting visit</th>
      <th>Amount spent today</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.before_street %></td>
        <td><%= cat.before_city %></td>
        <td><%= cat.before_state %></td>
        <td><%= cat.before_zip %></td>
        <td><%= cat.before_type %></td>
        <td><%= cat.after_street %></td>
        <td><%= cat.after_city %></td>
        <td><%= cat.after_state %></td>
        <td><%= cat.after_zip %></td>
        <td><%= cat.after_type %></td>
        <td><%= cat.location_prompting_visit %></td>
        <td><%= cat.amount_spent_today %></td>
        <td><%= link_to 'Show', [@survey, @cat] %> </td>
        <td><%= link_to 'Edit', [:edit, @cat, @survey] %></td>
        <td><%= link_to 'Destroy', [@survey, @cat] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_survey_cat_path(@survey) %>