<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Before Street</Data></Cell>
        <Cell><Data ss:Type="String">Before City</Data></Cell>
        <Cell><Data ss:Type="String">Before State</Data></Cell>
        <Cell><Data ss:Type="String">Before Zip</Data></Cell>
        <Cell><Data ss:Type="String">Before Location Type</Data></Cell>
        <Cell><Data ss:Type="String">After Street</Data></Cell>
        <Cell><Data ss:Type="String">After City</Data></Cell>
        <Cell><Data ss:Type="String">After State</Data></Cell>
        <Cell><Data ss:Type="String">After Zip</Data></Cell>
        <Cell><Data ss:Type="String">After Location Type</Data></Cell>
        <Cell><Data ss:Type="String">Amount Spent Today</Data></Cell>
        <Cell><Data ss:Type="String">Location prompting visit</Data></Cell>
        <Cell><Data ss:Type="String">User email</Data></Cell>
        <Cell><Data ss:Type="String">Survey location</Data></Cell>
        <Cell><Data ss:Type="String">Survey name</Data></Cell>
      </Row>
    <% @cats.each do |cat| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= cat.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_state %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_zip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_type.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_state %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_zip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_type.description %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= cat.amount_spent_today %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.location_prompting_visit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.survey.source %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.survey.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>