<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @survey.source %>
</p>

<p>
  <%= render 'survey_cats', search: @search %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_survey_path(@survey) %> |
<% end %>
<%= link_to 'Back', surveys_path %>
