<%= simple_form_for [@survey, @cat] do |f| %>


  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :survey_id, :value=>params[:survey_id] %>
    <%= f.hidden_field :user_id, :value=> @user%>
    <%= f.input :before_street %>
    <%= f.input :before_city %>
    <div class="form-group">
      <%= f.label :before_state %> <br>
      <%= f.select(:before_state, [:MN, :WI, :IA,:ND,:Other], {class: "form-control"})%>
    </div>
    <%= f.input :before_zip %>
    <div class="form-group">
      <%= f.label :before_type %> <br>
      <%= f.collection_select(:before_type_id, LocationType.all , :id, :description ,{prompt: 'Select before type'  , selected: 1 })%>
    </div>
    <%= f.input :after_street %>
    <%= f.input :after_city %>
    <div class="form-group">
      <%= f.label :after_state %> <br>
      <%= f.select(:after_state, [:MN, :WI, :IA,:ND,:Other], {class: "form-control"})%>
    </div>
    <%= f.input :after_zip %>
    <div class="form-group">
      <%= f.label :after_type %> <br>
      <%= f.collection_select(:after_type_id, LocationType.all , :id, :description ,{prompt: 'Select after type', selected: 1 })%>
    </div>
    <div class="form-group">
      <%= f.label "Which location (before,after, or both) prompted your visit today?" %> <br>
      <%= f.select(:location_prompting_visit, [['Before',:before],['After',:after], ['Both', :both]],{ error: 'Mandatory'  }) %>
    </div>
    <%= f.input :amount_spent_today %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, @cat.persisted? ? "Update CAT" : "Create CAT" %>
  </div>
<% end %>
