<p id="notice"><%= notice %></p>

<p>
  <strong>Before street:</strong>
  <%= @cat.before_street %>
</p>

<p>
  <strong>Before city:</strong>
  <%= @cat.before_city %>
</p>

<p>
  <strong>Before state:</strong>
  <%= @cat.before_state %>
</p>

<p>
  <strong>Before zip:</strong>
  <%= @cat.before_zip %>
</p>

<p>
  <strong>Before type:</strong>
  <%= @cat.before_type %>
</p>

<p>
  <strong>After street:</strong>
  <%= @cat.after_street %>
</p>

<p>
  <strong>After city:</strong>
  <%= @cat.after_city %>
</p>

<p>
  <strong>After state:</strong>
  <%= @cat.after_state %>
</p>

<p>
  <strong>After zip:</strong>
  <%= @cat.after_zip %>
</p>

<p>
  <strong>After type:</strong>
  <%= @cat.after_type %>
</p>

<p>
  <strong>Location prompting visit:</strong>
  <%= @cat.location_prompting_visit %>
</p>

<p>
  <strong>Amount spent today:</strong>
  <%= @cat.amount_spent_today %>
</p>

<%= link_to 'Edit', [:edit, @survey, @cat] %> |
<%= link_to 'Back', survey_cats_path %>
